/* iphne
--------------- */

@media all and (max-width:600px){
    .logo {
        width:30%;
    }
    .login {
        font-size:1.2rem;
    }
    /* top-page
    ---------------- */
    .front {
        height:450px;
    }
    .top-page-title {
        font-size:1.5rem;
    }
    .infomation-contents p {
        font-size:0.1rem
    }
    /* footer */
    .footer-contents {
        font-size:0.6rem;
        margin-right:8px;
    }
    /* search */

    .breadcrumbs-wrapper p {
        display:none;
    }    
    
    .size {
        font-size:18px;
    }
    .consent-personal-infomation-contents {
        font-size:0.8rem;
    }
    .checkbox-contents {
        font-size:0.8rem;
    }
    /* selectedHotel */
    .img_m {
        grid-column:auto;
        grid-row:auto;
    }
    /* procedureCompleted */
    .completed-title h1{
        font-size:1.4rem;
    }
    .completed-contents {
        font-size:0.8rem;
    }
    .reservation-name {
        font-size:1rem;
    }
    .reservation-number {
        font-size:1rem;
    }
    .notes {
   
        font-size:0.6rem;
    }
}
