/*全ページ共通
-------------------*/

html {
    font-size: 100%;
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
img {
    max-width: 100%;
}
a {
    text-decoration:none;
}


/*header
----------*/
header {
    width:100%;
    background-color:#fff;
    padding: 15px 30px;
    
}

.logo {
    width:15%;
    
}
.header-left {
    float:left;
    width:50%;
}
.header-right {
    padding-top:10px;
    float:right;
    width:50%;
    text-align: right;
}
.clear {
    clear:both;
}
.login {
    font-size:2rem;
    color:#0057B8;
}
/*main
--------------*/


.main {
    width:100%;
}



/* front
------------ */
.front {
    background-image:url(./images/top-images/frontImage.jpg);
    height:600px;
    background-size:cover;
    background-position: center top;
    background-repeat:no-repeat;  
}
/* infomation,selectPopularArea,siteseeingGuide
----------- */
.main-wrapper {
    margin: 0% 5%;
}
.infomation-contents {
    text-align:center;
    padding:10px ;  
}
.top-page-title {
    text-align:center;
    border-bottom:2px #0057B8 solid;
    margin-top:15px;
    font-size:1.5rem;
}
.infomation-logo {
    color:#fff;
    background-color:#0057B8;
    border-radius:20px;
    padding:0px 8px;
    margin-right:15px;
}

.infomation-date {
    margin-right:15px;
}

.infomation-contents p {
    border-bottom:1px #3f3d3d solid;
    padding-bottom:5px;
    margin-bottom:5px;
    font-size:1.0rem;
   
}

.menu-bar {
    margin-left:5%;
    
}



.infomation-menu-contents {
    display:none;
    font-size:14px;
    text-align:left;
    
}
.infomation-menu-contents a {
    color:#1877f2;
}
.display-block {
    display:block;
}

.topImages {
    display: grid;
    gap:26px;
    grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
    margin: 50px 100px 50px 100px;
    
}
.topImage img {
    border-radius:8px;
    
}
.topImage img:hover {
    opacity:0.7;
    transition-duration: 0.5s;

}

.topImage p {
    position:relative;
    bottom:30px;
    left:30px;
    color:#fff;
}




/*footer
------------*/

.footer-wrapper {
    border-top:2px rgb(0,87,184) solid;
    padding:8px 10px 20px;
}
.footer-left {
    float:left;
    width:50%;
}
.footer-right {
    display:flex;
    float:right; 
    margin-bottom:20px;
}
.footer-right a {
    color:#000000;
}
.footer-right a:hover {
    color:#1877f2;
}
.footer-contents {
    font-size:10px;
    margin-top:10px;
    margin-right:15px;
}
.size {
    font-size:2rem;
    padding-right:15px;
}
.line {
    color:#00B900;
}
.mail {
    color:#0057B8;
}
.twitter {
    color:#1da1f2;
}
.facebook {
    color:#1877f2;
}
.instagram {
    background: -webkit-linear-gradient(0deg, #4C64D3, #CF2E92,#F26939,#FFDD83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.youtube {
    color:#da1725;
}
/*search
------------*/
.breadcrumbs-wrapper {
    margin-top:20px;
}

.breadcrumbs-wrapper p{
    padding:0px 50px;
    font-size:1rem;
    text-align:center;
}
.breadcrumb-highlight {
    font-size:1.6rem;
    color:#0057B8;
}
.under-bar {
    border-bottom:1px #000000 solid;
    margin:30px 0px;
}

.searchResult-wrapper {
    display: grid;
    gap: 25px;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    margin: 50px 30px 50px 30px;
}
.searchResult-hotel {
    padding-bottom:10px;
    text-align:center;
    overflow:hidden;
}
.hotel:hover {
    opacity:0.7;
    transition:0.5s;
}

.searchResult-hotel-name {
    color:#000; 
    font-size:1rem; 
    
}
.searchPrice {
    font-size:1.2rem;
    color:#d94749;
}
.JPY {
    color:#000; 
    font-size:0.8rem; 
}



/* selectedHotel
------------------- */
.searchResult {
    color:#0057b8;
    width:100%;
    padding:10px;
}
.overview-hotel {
    border:1px #000000 solid;
    margin-bottom:15px;
    border-radius: 3px;
    padding:10px;
    
}
.hotel-image {
    margin-bottom:20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
}
.img_m {
    grid-column:1 / 3;
    grid-row:1 / 3;
}
.hotel-name {
    font-size:2.0rem;
}
.hotel-review {
    font-size:1.8rem;
}

.price-infomation {
    font-size:1.2rem;
    float:right;
    margin-right:20px;
    line-height:35px;
}
.reservation {
    background-color:#0057b8;
    color:#fff;
    padding:8px 40px;
    border-radius:10px;
    float:right;
}







/* customerInfomation
------------ */
.customer-infomation {
    border:1px #000000 solid;
    margin:20px 10px;
    padding-bottom:5px;
    border-radius:10px;
}
.reservation-title {
    padding:5px 30px;
}
.resevation-subtitle {
    padding:8px 40px;
    background-color:rgba(221,221,221,0.8)
}
.resevation-minititle {
    padding:2px 50px;
}
.mandatory {
    color:#d94749;
      
}
.input-form {
    border:1px #000000 solid;
    padding:10px 20px;
    border-radius:5px;
    font-size:1rem;
    margin:3px 0px 3px 25px; 

}
.method-of-payment {
    display:flex;
    padding:15px 10px;
}
.method-of-payment p {
    font-size:20px;
    margin:0px 10px;
}
.submit-button-wrapper {
    text-align:center;
}
.submit-button {
    color:#fff;
    background-color:#eb3e3e;
    border:1px #000000 solid;
    border-radius:5px;
    cursor:pointer;
    padding:10px 20px; 
    margin-bottom:40px;   
}
.submit-button:hover {
    background-color:#be3e3e;
    position:relative;
    bottom:5px;
    box-shadow:0px 5px 10px rgba(0,0,0,0.5) ;
}

.consent-personal-infomation {
    border:1px #000000 solid;
    margin:20px 10px;
    padding-bottom:5px;
    border-radius:10px;
}
.consent-personal-infomation p {
    margin:0 20px;
}
.personal-infomation-checkbox {
    margin:0 20px;
}
/* confirm */
.reservation-confirmed-button-wrapper {
    text-align:center;
}
.reservation-confirmed-button {
    color:#fff;
    background-color:#eb3e3e;
    border:1px #000000 solid;
    border-radius:5px;
    cursor:pointer;
    padding:10px 20px;
    margin: 30px;
 
}
.reservation-confirmed-button:hover {
    background-color:#be3e3e;
    position:relative;
    bottom:5px;
    box-shadow:0px 5px 10px rgba(0,0,0,0.5) ;
}

.getForm {
    height:80px;
    padding:5px 80px;
    font-size:1.2rem;
}


/* completed */

.completed-main-wrapper {
    height:500px;
    padding:30px 50px 30px 50px;
}
.completed-contents {
    border:3px #000000 solid;
    padding:10px;
    font-size:15px;
}
.reservation-name {
    margin-bottom:10px;
    font-size:20px;
}
.reservation-number {
    margin:20px 10px;
    font-size:20px;
}
.notes {
    margin-left:50px;
    font-size:13px;
}
